<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Message</h2>
  <p><%= mes %></p>
  <a href="https://web20211-1.s2032066gu.repl.co/db/2">VIRTURL SINGER</a><br>
  <a href="https://web20211-1.s2032066gu.repl.co/db/3">Leo/need</a><br>
  <a href="https://web20211-1.s2032066gu.repl.co/db/4">MORE MORE JUMP!</a><br>
  <a href="https://web20211-1.s2032066gu.repl.co/db/5">Vivid BAD SQUAD</a><br>
  <a href="https://web20211-1.s2032066gu.repl.co/db/6">ワンダーランズ　ショウタイム</a><br>
  <a href="https://web20211-1.s2032066gu.repl.co/db/7">25時、ナイトコードで。</a><br>
  <a href="/public/input01.html">人口の多い順（少ない順）に都道府県を表示する（app6.jsを起動してからクリックしてください）</a>
</body>
</html>